*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color:var(--main-bg-color);
  display:flex;
  align-items: center;
  justify-content:center;
}
:root{
  --main-bg-color:#EDEEF7;
  --secondry-bg-color:#7868E6;
  --black-text:#2b2e4a;
  --white:white;
  --black: black;
  
}
/* header style */
.header{
  width:100vw;
  display:flex;
  list-style:none;
  align-items:center;
  padding:0.5rem 2rem;
  margin-bottom: 3rem;
  justify-content:space-between
}
.header .navbar{
  display:flex;
  width:200px;
  justify-content:space-around;
}
/* upload container style */
.progress__container,
.share__link__container,
.upload__container{
  display:flex;
  align-items:center;
  justify-content:center;
  text-align: center;
  width:auto;
}
.drop__zone{
  display:flex;
  flex-direction: column;
  background-color:var(--white);
  width:500px;
  padding:2rem 2rem;
  margin:2rem;
  border-radius: 10px;
}
.drop__zone p{
  font-size: 20px;
  color:var(--black-text)
}
.drop__zone #browseBtn{
  color:var(--secondry-bg-color);
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}
.drop__zone p,
.drop__zone span{
  margin:0.5rem 1rem;
}
.drop__zone input{
  display:none;
}

/* progress container style */
.progress__container{

}
.progress__container .bg__progress{
  width:500px;
  height:50px;
  background-color: var(--secondry-bg-color);
  border-radius:5px;
  color:black;
  transform:scaleX(1);
  transform-origin: left;
}
.progress__container .inner__container{
  position:absolute;
  width:500px;
  height:50px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  border-radius:5px;
  border:1px solid black;
  color:white;
  text-shadow:3px 3px 5px black;
}
/* sharelink container style */
.share__link__container{
  flex-direction: column;
  padding-top:2rem;
}
.share__link__container #fileURL{
  width:400px;
  outline:none;
  border:none;
  border: 1px solid var(--secondry-bg-color);
  height:25px;
  padding:0px 1rem;
}
.share__link__container button{
  height:25px;
  background-color: var(--secondry-bg-color);
  border:none;
  outline:none;
  color:white;
  padding:0rem 0.5rem;
  cursor:pointer;
}

.animateBg{
  animation: animateBg 2s infinite;
}
@keyframes animateBg{
  0%{
    transform : scaleX(0);
  }
  100%{
    transform: scaleX(100);
  }
}